<% include partials/_head %>
<% include partials/nav %>

<ul>
  <% for(var i=0; i < books.length; i++) { %>
    <li>
      <a href="/api/Books/<%= books[i].id %>"><%= books[i].title %></a>
      <small><%= books[i].author %></small>
      <form action="api/Books/<%= books[i]._id %>" method="POST">
        
        
        <button id="button" name="delete_button" onclick="return confirm('Are you sure you want to delete the tweet?')">X</button>
        
        <a href="api/Books/<%= books[i]._id %>/edit">Edit</a>
      </form>

    </li>
  <% } %>
</ul>

<% include partials/_foot %>
