<% include partials/_head %>
<% include partials/nav %>
<%= message %>

<ul>
  <% for(var i=0; i < items.length; i++) { %>
    <li>
      <img src="/uploads/<%= items[i].image.thumb %>" width="240" /><br>
      <a href="/api/Images/<%= items[i]._id %>"><%= items[i].title %></a>
      <small><a href="/api/profile/<%= items[i].author %>"><%= items[i].author %></a></small>
      
      <% if(items[i].author === user ) {%>
        <form action="api/Images/<%= items[i]._id %>/delete" method="POST">
          <a href="api/Images/<%= items[i]._id %>/edit">Edit</a>
        </form>
      <% } %>

    </li>
    
    <br>
  <% } %>

</ul>

<% include partials/_foot %>
